
.home {
  
  border: #666  2px solid;
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: auto;
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   justify-content: left; 
  width: 45%; 
  /* max-width: 1200px;  */
}
 
 .header {
   text-align: center;
   margin-bottom: 0px;
   border: 2px solid black;
   width: 50%;
 }
 
 .search-bar {
   text-align: center;
   margin-bottom: 0px;
   border: 2px solid black;
   width: 50%;
 }
 
 .search-bar input {
   width: 50%;
   padding: 10px;
   font-size: 16px;
   margin-top: 0px;
 }
 .list-item {
   /* padding-left: 80px; */
  margin-top: 0%;
   border: 1px solid black;
   border-radius: 5px;
   width: 50%;
   /* display: flex;; */
   /* align-items: center; */
 }
 .single-ctn {
   display: flex;;
   /* align-items: ; */
   margin-top: 0px;
   border: 1px solid black;
   border-radius: 5px;
   padding: 10px; 
   width: 100%;
 }
 .empl-page{
  border: #666  2px solid;
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: auto;
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   justify-content: left; 
  width: 45%; 
 }
 

 
 